/* style.css */
box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}


.password-box {
display: flex;
margin-bottom: 15px;
}


#password {
flex: 1;
padding: 12px;
font-size: 1.1rem;
border-radius: 10px 0 0 10px;
border: none;
}


#copyBtn {
padding: 12px;
border: none;
background: #ffc107;
cursor: pointer;
border-radius: 0 10px 10px 0;
font-size: 1.2rem;
}


.options label {
display: block;
text-align: left;
margin: 10px 0;
cursor: pointer;
}


.range-box {
margin-top: 15px;
}


#length {
width: 100%;
}


.generate {
width: 100%;
padding: 15px;
background: #00d4ff;
border: none;
color: black;
font-size: 1.1rem;
border-radius: 10px;
cursor: pointer;
margin-top: 15px;
font-weight: bold;
transition: 0.2s;
}


.generate:hover {
background: #00a6cc;
}
